snippet FIXME "Add fix comment"
`!v g:todo_comment_signs` FIXME `!v g:todo_timestamp_string` ${1}
endsnippet
snippet IDEA "Add idea comment"
`!v g:todo_comment_signs` IDEA `!v g:todo_timestamp_string` ${1}
endsnippet
snippet QUESTION "Add question comment"
`!v g:todo_comment_signs` QUESTION `!v g:todo_timestamp_string` ${1}
endsnippet
snippet TODO "Add todo comment"
`!v g:todo_comment_signs` TODO `!v g:todo_timestamp_string` ${1}
endsnippet
